<div class="products-container">
  <div class="header-section">
    <h2 class="page-title">My Products</h2>
    <button class="add-btn" routerLink="/products/new">
      <span class="plus-icon">+</span> Add Product
    </button>
  </div>
  
  <div class="products-grid">
    <div class="product-card" *ngFor="let product of products" [routerLink]="[product.id]">
     <!-- <div class="image-wrapper">
        <img [src]="product.imageUrl || 'assets/default-product.jpg'" [alt]="product.name">
      </div>
      -->
      <div class="product-info">
        <h3 class="product-name">{{ product.name }}</h3>
        <p class="product-description">{{ product.description }}</p>
        
        <div class="product-footer">
          <span class="product-price">{{ product.price }} TND</span>
          <span class="product-stock" [class.low-stock]="product.stock < 5">
            Stock: {{ product.stock }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>