/* You can add global styles to this file, and also import other style files */
:root {
  --bg-dark: #0f172a;      /* Bleu nuit de la sidebar */
  --bg-sidebar: #111827;   /* Fond légèrement plus clair */
  --primary-blue: #3b82f6; /* Bleu accent */
  --text-gray: #94a3b8;    /* Texte secondaire */
  --white: #ffffff;
}